/.idea
/vendor
/node_modules
build
coverage
package-lock.json
yarn.lock
composer.phar
composer.lock
phpunit.xml
/.phpunit.cache
.phpunit.result.cache
.php-cs-fixer.cache
.DS_Store
Thumbs.db
/auth.json
